[package]
name = "comrak_nif"
version = "0.1.0"
authors = ["Leandro Pereira"]
edition = "2021"

[lib]
name = "comrak_nif"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = "0.36"
serde = "1.0"
comrak = { version = "0.37", features = ["shortcodes"] }
ammonia = "4.0"
phf = { version = "0.11", features = ["macros"] }
tree-sitter = "0.20"
tree-sitter-highlight = "0.20"
v_htmlescape = "0.15"
# autumnus = "0.1"
autumnus = { git = "https://github.com/leandrocp/autumnus", branch = "lp-comrak-adapter" }
log = "0.4"
lazy_static = "1.5"
typed-arena = "2.0.2"
lol_html = "2.2"

[features]
default = ["nif_version_2_15"]
nif_version_2_15 = ["rustler/nif_version_2_15"]
