[package]
name = "comrak_nif"
version = "0.1.0"
authors = ["Leandro Pereira"]
edition = "2021"

[lib]
name = "comrak_nif"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = "0.29"
serde = "1.0"
serde_rustler = { git = "https://github.com/avencera/serde_rustler.git", branch = "rustler-0-29" }
comrak = "0.18"
ammonia = "3.3"
phf = { version = "0.11", features = ["macros"] }
tree-sitter = "0.20"
tree-sitter-highlight = "0.20"
v_htmlescape = "0.15"
inkjet = { version = "0.10.2" , default-features = false, features = [
  "html",
  "language-bash",
  "language-c",
  "language-clojure",
  "language-c-sharp",
  "language-commonlisp",
  "language-cpp",
  "language-css",
  "language-diff",
  "language-dockerfile",
  "language-elisp",
  "language-elixir",
  "language-erlang",
  "language-gleam",
  "language-go",
  "language-haskell",
  "language-hcl",
  "language-heex",
  "language-html",
  "language-java",
  "language-javascript",
  "language-json",
  "language-jsx",
  "language-kotlin",
  "language-latex",
  "language-llvm",
  "language-lua",
  "language-make",
  "language-php",
  "language-proto",
  "language-python",
  "language-r",
  "language-regex",
  "language-ruby",
  "language-rust",
  "language-scala",
  "language-scss",
  "language-sql",
  "language-swift",
  "language-toml",
  "language-tsx",
  "language-typescript",
  "language-vim",
  "language-yaml",
  "language-zig",
] }
autumn = { path = "vendor/autumn" }

[features]
default = ["nif_version_2_15"]
# Feature necessary for Rustler Precompiled.
nif_version_2_15 = ["rustler/nif_version_2_15"]
