[package]
name = "comrak_nif"
version = "0.1.0"
authors = ["Leandro Pereira"]
edition = "2021"

[lib]
name = "comrak_nif"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = { version = "0.33", features = [
    "derive",
    "nif_version_2_15",
    "serde",
] }
serde = "1.0"
comrak = { version = "0.33", features = ["shortcodes"] }
ammonia = "4.0"
phf = { version = "0.11", features = ["macros"] }
tree-sitter = "0.20"
tree-sitter-highlight = "0.24"
v_htmlescape = "0.15"
autumn = { path = "vendor/autumn" }
log = "0.4"
lazy_static = "1.5"
typed-arena = "2.0.2"
lol_html = "2.2"
inkjet = { version = "0.10.5", default-features = false, features = [
    "html",
    "language-bash",
    "language-c",
    "language-c-sharp",
    "language-clojure",
    "language-commonlisp",
    "language-cpp",
    "language-css",
    "language-diff",
    "language-dockerfile",
    "language-eex",
    "language-elisp",
    "language-elixir",
    "language-elm",
    "language-erlang",
    "language-gleam",
    "language-go",
    "language-haskell",
    "language-hcl",
    "language-heex",
    "language-html",
    "language-iex",
    "language-java",
    "language-javascript",
    "language-json",
    "language-jsx",
    "language-kotlin",
    "language-latex",
    "language-llvm",
    "language-lua",
    "language-make",
    "language-objc",
    "language-ocaml",
    "language-ocaml-interface",
    "language-pascal",
    "language-php",
    "language-plaintext",
    "language-proto",
    "language-python",
    "language-r",
    "language-regex",
    "language-ruby",
    "language-rust",
    "language-scala",
    "language-scss",
    "language-sql",
    "language-svelte",
    "language-swift",
    "language-toml",
    "language-typescript",
    "language-tsx",
    "language-vim",
    "language-yaml",
    "language-zig",
] }

[features]
default = ["nif_version_2_15"]
# Feature necessary for Rustler Precompiled.
nif_version_2_15 = ["rustler/nif_version_2_15"]
