name: Elixir CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    uses: leandrocp/github-actions/.github/workflows/elixir-test.yml@main
    with:
      env_vars: '{"MDEX_BUILD": "1"}'

  lint:
    uses: leandrocp/github-actions/.github/workflows/elixir-lint.yml@main
    with:
      env_vars: '{"MDEX_BUILD": "1"}'
